body {
  padding: 0;
  margin: 0;
  background-color: #1c1c1c;
  overflow: hidden;

  font-family: sans-serif;
}

.header-container {
  background-color: #fffdfe;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-input,
.color-mode-select,
.generate-color {
  height: 2.25rem;
}

.color-mode-select,
.generate-color {
  cursor: pointer;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  background-color: transparent;
}

.color-input {
  padding: 0;
  margin: 0;
  border: none;
}

.color-mode-select {
  outline: none;
  text-transform: capitalize;
}

.colors-container {
  display: flex;
  height: 100vh;
}

.colors-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

li {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popupText {
  visibility: hidden;
  text-align: center;
  width: 50%;
  font-size: 12px;
  padding: 7px 0;
  background-color: #555555c8;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 4px;
  border-style: solid;
  border-color: #555555c8 transparent transparent transparent;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -webkit-animation: fadeout 5s;
  animation: fadeout 5s;
}
.hide {
  visibility: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    visibility: hidden;

    opacity: 0;
  }
}

.list-color {
  height: 90%;
  width: 100%;
  border: none;
}

.list-hex {
  background-color: white;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
